@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #101010;
  color: #ffffff;
  font-weight: 400;
}

.text-yellow-theme {
  color: #FFDD02 !important;
}

.text-white-theme{
  color: #FFFFFF !important;
}

.text-para{
  color: rgba(255, 255, 255, 0.69);
  font-weight: 400;
}

.text-green-theme{
  color: #20AF24;
}

.bg-light-green{
  background-color: #20AF24;
}

/* width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #20AF24;
  border-radius: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #FFDD02;
}
